/* ben's super-duper-how-the-hell-does-this-work fix for chosen 
   close buttons within bootstrap dropdowns */ 
.search-choice-close { 
  right: -37px!important; 
  height: 5px!important;
}

#machines tbody>tr { 
  cursor: pointer; 
}

.sort-header { 
  white-space:nowrap;
}

.sort-buttons { 
  display: inline; 
  cursor: pointer;
  margin-left: 20px; 
}

.sorter:hover { 
  background-color: #FF9;  
}

.sort-header .sorter { 
  visibility: hidden; 
}

.sort-header:hover .sorter { 
  visibility: visible; 
}

.sorted-down .sort-down, .sorted-up .sort-up { 
  visibility: visible;  
}

.con-table {
  float: left; 
}

.con-val { 
  display: none;
  margin-left: 5px; 
  font-size: 75%; 
  font-weight: bold; 
  color: #666;
}

.con-bar { 
  padding: 0px!important; 
  border: solid 1px #000!important;
}

.con-cell { 
  width: 100px; 
}

.view-options-well { 
  padding-bottom: 3px; 
  padding-top: 14px;
  background-color: rgb(241, 241, 241);
}
