


  <li role="presentation" class="dropdown feed-toggle">

{% if feed == '650' %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false"><i class="fa fa-rss"></i> Talk 650 Feed <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ alt_link }}">Talk 910 Feed</a></li>
    </ul>
{% else %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false"><i class="fa fa-rss"></i> Talk 910 Feed <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ alt_link }}">Talk 650 Feed</a></li>
    </ul>
{% endif %}
  </li>
