{% extends 'episodes/base.html' %}
{% block title %}Day View{% endblock %}
{% block nav-day %}<li class="active">{% endblock %}
{% block header %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/oncall.js"></script>
  <link href="{{ STATIC_URL }}css/calendar.css" rel="stylesheet">
  <div class="hero-row hero-condensed">
    <div class="container">
      <div class="row-fluid">
        <img src="{{ STATIC_URL }}images/anglogo.png" class="pull-left logo-image">
        <h1>Day View</h1>
        <p class="lead">
          {{ this_date|date:"l, F d, Y" }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
{% block episodes %}
  <div class="container">
    <div class="row calendar-header">
      <div class="span3">
        <a href="/episode/{{ prev_date|date:"Y/m/d"}}" class="btn btn-inverse month-pager" id="prevtab">
          <i class="icon-arrow-left icon-white"></i>
        </a>
      </div>
      <div class="span6" align="center">
        <h2><span class="weekday">{{ this_date|date:"l" }}</span>, {{ this_date|date:"F d, Y" }}</h2>
      </div>
      <div class="span3 next-button">
        <a href="/episode/{{ next_date|date:"Y/m/d"}}" class="btn btn-inverse month-pager" id="nexttab">
          <i class="icon-arrow-right icon-white"></i>
        </a>
      </div>
    </div>
    {% if not episode %}
      <div class="well">
        <h4>No show posted for this date.</h4>
      </div>
    {% else %}
      {% for hour in episode.hour_set.all %}
        <div class="clearfix hour-line">
          <span class="pull-left hour-box">
            H{{ hour.hour_num }}<br />
            <div class="listen-button">
              <a href="{{ hour.download_link }}" class="btn btn-mini btn-inverse listen-button">Listen</a>
            </div>
          </span>
          <span class="pull-right speaker-icon">
            <a href="{{ hour.download_link }}"><img src="{{ STATIC_URL }}images/speaker.png"></a>
          </span>
          <div> 
            <blockquote><p>{{ hour.description }}</p></blockquote>
          </div>
        </div>
      {% endfor %} 
    <hr>
      <h4>Comments</h4>
      <h5>No comments for this episode</h5>
    {% endif %}
  </div>
{% endblock %}
