{% extends 'episodes/base.html' %}
{% block title %}Episode Listing{% endblock %}
{% block header %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/oncall.js"></script>
  <link href="{{ STATIC_URL }}css/calendar.css" rel="stylesheet">
  <div class="hero-row hero-condensed">
    <div class="container">
      <div class="row-fluid">
        <h1>Hour Listing</h1>
        <p class="lead">
          Searching for "{{ search }}"
        </p>
      </div>
    </div>
  </div>
{% endblock %}
{% block episodes %}
  <div class="container">
    {% for hour in hours %}
      <div class="clearfix hour-line">
        <span class="pull-left hour-box">
          H{{ hour.hour_num }}<br />
          <div class="listen-button">
            <a href="{{ hour.download_link }}" class="btn btn-mini btn-inverse listen-button">Listen</a>
          </div>
        </span>
        <div> 
          <blockquote><p>
            <a href="/episode/{{ hour.episode.date|date:"Y/m/d" }}">{{ hour.episode.date }}</a>
            {{ hour.description }}
          </p></blockquote>
        </div>
      </div>
    {% endfor %} 
  </div>
{% endblock %}
