{% extends 'base.html' %}
{% load staticfiles %}
{% load hours %}
{% block metadescription %}Armstrong and Getty Podcast Calendar{% endblock %}
{% block subtitle %}Podcast Calendar{% endblock %}
{% block posthead %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}
{% block breadcrumbs %}
    <li><a href="/">Calendar</a></li>
    <li class="active">{{ month|date:"F, Y" }}</li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row header-banner">
            <div class="col-lg-12 text-center">
                <h1 class="hidden-xs">Armstrong & Getty Podcasts</h1>
                <h2>{{ month|date:"F, Y" }}</h2>
                {% if has_alt %}
                    <div class="hidden" id="alt-notice"><h4 class="warning">No episodes in this view. There are more shows available in the <a href="{{ alt_link }}">alternate feed</a>.</h4></div>
                {% endif %}
            </div>
        </div>
        <nav>
            <ul class="pager">
                <li class="previous hidden-sm hidden-xs"><a href="{% url 'archive_month' feed=feed month=previous_month.month year=previous_month.year %}"><span aria-hidden="true">&larr;</span> {{ previous_month|date:"F" }}</a></li>
                <li>
                    {% include "blocks/feed_toggle.html" %}
                </li>
                <li class="next hidden-sm hidden-xs"><a href="{% url 'archive_month' feed=feed month=next_month.month year=next_month.year %}">{{ next_month|date:"F" }} <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        <nav class="hidden-md hidden-lg">
            <ul class="pager">
                <li class="previous"><a href="{% url 'archive_month' feed=feed month=previous_month.month year=previous_month.year %}"><span aria-hidden="true">&larr;</span> {{ previous_month|date:"F, Y" }}</a></li>
                <li class="next"><a href="{% url 'archive_month' feed=feed month=next_month.month year=next_month.year %}">{{ next_month|date:"F, Y" }} <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        <div class="row five-cols calendar">
            <div class="col-xs-1 week-header">
                Monday
            </div>
            <div class="col-xs-1 week-header">
                Tuesday
            </div>
            <div class="col-xs-1 week-header">
                Wednesday
            </div>
            <div class="col-xs-1 week-header">
                Thursday
            </div>
            <div class="col-xs-1 week-header">
                Friday
            </div>
            {% for d in iter %}
                {% if d.weekday != 5 and d.weekday != 6 %}
                    {% hours_for d feed as hours %}
                    <div class="col-xs-1 date weekday-{{ d.weekday }}{% if d.month != month.month %} other-month{% endif %}{% if d|date:"F d Y" == today|date:"F d Y" %} today{% endif %} {% if hours %}has-hours{% else %}empty-date hidden-xs{% endif %}"
                         {% if hours %}onclick="document.location.href='{% url 'archive_day' year=d.year month=d.month day=d.day feed=feed %}';"{% endif %}>
                        <div class="date-num hidden-xs" data-date="{{ d|date:"F d, Y" }}">{{ d.day }}</div>
                        <div class="date-label hidden-sm hidden-md hidden-lg">{{ d|date:"F d, Y" }}</div>
                        <div class="hours">
                        {% for hour in hours %}
                            <a class="tiny-label"
                               href="{% url 'archive_day' year=d.year month=d.month day=d.day feed=feed %}?play={{ forloop.counter }}"
                               data-hour-id="{{ hour.id }}" data-toggle="tooltip"
                               title="{{ hour.description }}"><b>{{ hour.pub_date|date:"G A" }}</b> {{ hour.title }}</a>
                        {% endfor %}
                        {% airdate_for d as airdate %}
                        {% if airdate and airdate.reddit_url %}
                        <a class="tiny-label" href="{{ airdate.reddit_url }}"><i class="fa fa-comments" aria-hidden="true"></i> Daily Discussion</a>
                        {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <nav class="hidden-md hidden-lg">
            <ul class="pager">
                <li class="previous"><a href="{% url 'archive_month' feed=feed month=previous_month.month year=previous_month.year %}"><span aria-hidden="true">&larr;</span> {{ previous_month|date:"F, Y" }}</a></li>
                <li class="next"><a href="{% url 'archive_month' feed=feed month=next_month.month year=next_month.year %}">{{ next_month|date:"F, Y" }} <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block postfoot %}
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
