{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}Armstrong and Getty Podcast Day View for {{ day|date:"M d, Y" }}{% endblock %}
{% block subtitle %}Podcasts for {{ day|date:"M d, Y" }}{% endblock %}
{% block posthead %}
    <link rel="stylesheet" href="{% static 'css/day.css' %}">
    <link rel="stylesheet" href="{% static 'css/minical.css' %}">
{% endblock %}
{% block breadcrumbs %}
    <li><a href="/">Calendar</a></li>
    <li><a href="{% url 'archive_month' year=day.year month=day.month feed=feed %}">{{ day|date:"F, Y" }}</a></li>
    <li class="active">{{ day|date:"F d, Y" }}</li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ day|date:"F d, Y" }}</h1>
                <nav>
                    <ul class="pager">
                        <li class="previous hidden-sm hidden-xs">
                            {% if previous_day %}
                            <a href="{% url 'archive_day' feed=feed month=previous_day.month day=previous_day.day year=previous_day.year %}">
                                <span aria-hidden="true">&larr;</span> {{ previous_day|date:"m/d/y" }}
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            {% include "blocks/feed_toggle.html" %}
                        </li>
                        {% if next_day %}
                        <li class="next hidden-sm hidden-xs">
                            <a href="{% url 'archive_day' feed=feed month=next_day.month day=next_day.day year=next_day.year %}">
                                {{ next_day|date:"m/d/y" }} <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="next disabled hidden-sm hidden-xs">
                            <a href="#">Next <span aria-hidden="true">&rarr;</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% for object in object_list %}
                    {% include "blocks/hour.html" %}
                {% endfor %}
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation">
                        {% if previous_day %}
                        <a href="{% url 'archive_day' feed=feed month=previous_day.month day=previous_day.day year=previous_day.year %}">
                            <span aria-hidden="true">&larr;</span>
                            {{ previous_day|date:"m/d/y" }}
                        </a>
                        {% endif %}
                    </li>
                    <li role="presentation">
                        <a href="{% url 'archive_month' feed=feed month=day.month year=day.year %}">
                            <i class="fa fa-calendar"></i> Calendar
                        </a>
                    </li>
                    {% if next_day %}
                    <li role="presentation">
                        <a href="{% url 'archive_day' feed=feed month=next_day.month day=next_day.day year=next_day.year %}">
                            {{ next_day|date:"m/d/y" }}
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3">
                <div id="minical" data-src="{% url 'archive_month' feed=feed month=day.month year=day.year %}"></div>
            </div> <!-- /col-md-3 (calendar) -->
        </div> <!-- /row -->
    </div> <!-- /container -->
{% endblock %}
{% block postfoot %}
    <script src="{% static 'js/day.js' %}"></script>
    <script src="{% static 'js/minical.js' %}"></script>
    <script>
        var selectedDay = "{{ day.timetuple.tm_yday }}";
    </script>
{% endblock %}

