{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}Armstrong and Getty Podcast Day View for {{ day|date:"M d, Y" }}{% endblock %}
{% block subtitle %}Podcasts for {{ day|date:"M d, Y" }}{% endblock %}
{% block posthead %}
    <link rel="stylesheet" href="{% static 'css/day.css' %}">
    <link rel="stylesheet" href="{% static 'css/minical.css' %}">
{% endblock %}
{% block breadcrumbs %}
    <li><a href="/">Calendar</a></li>
    <li><a href="{% url 'archive_month' year=day.year month=day.month feed=feed %}">{{ day|date:"F, Y" }}</a></li>
    <li class="active">{{ day|date:"M d, Y" }} - {{ feed }} feed</li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">



            <div class="col-md-9">
                <h1>{{ day|date:"F d, Y" }}</h1>
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="{% url 'archive_day' feed=feed month=previous_day.month day=previous_day.day year=previous_day.year %}"><span aria-hidden="true">&larr;</span> {{ previous_day|date:"F d, Y" }}</a></li>
                        <li class="next"><a href="{% url 'archive_day' feed=feed month=next_day.month day=next_day.day year=next_day.year %}"> {{ next_day|date:"F d, Y" }}<span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
                {% for object in object_list %}
                    <div class="row hour">
                        <div class="col-md-1">
                            <b>{{ object.pub_date|date:"G A" }}</b>
                        </div>
                        <div class="col-md-11">
                            <h3>{{ object.title }}</h3>
                            <p>{{ object.description }}</p>
                            <div class="listen">
                                <a href="{{ object.link }}" class="btn btn-primary btn-sm"><i
                                        class="fa fa-volume-up"></i> Listen ({{ feed }} feed)</a>
                                {% with object.get_alternate_feeds as alts %}
                                    {% for alt in alts %}
                                        <a href="{{ alt.link }}" class="btn btn-default btn-sm"><i
                                                class="fa fa-volume-up"></i> Listen ({{ alt.feed }} feed)</a>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <div id="minical" data-src="{% url 'archive_month' feed=feed month=day.month year=day.year %}"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postfoot %}
    <script src="{% static 'js/day.js' %}"></script>
    <script src="{% static 'js/minical.js' %}"></script>
{% endblock %}
{% block link_910 %}{% url 'archive_day' year=day.year month=day.month day=day.day feed='910' %}{% endblock %}
{% block link_650 %}{% url 'archive_day' year=day.year month=day.month day=day.day feed='650' %}{% endblock %}

