{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumbs %}
    <li><a href="/">Home</a></li>
    <li class="active">About</li>
{% endblock %}
{% block content %}

    <div class="container">
        <h1>Armstrong & Getty Bingo</h1>

        <div class="well">
            <h3>Welcome<i>!</i></h3>

            <p>I've been a huge <b>f</b>an of <b>A</b>rmstrong and <b>G</b>etty
                for <b>o</b>ver <b>f</b>ifteen <b>y</b>ears. I <i>love</i> that they
                give their podcast away. I quite simply couldn't listen if there wasn't
                a feed. I'm busy doing my day job when they broadcast. And my commute
                time doesn't sync up. And most importantly, the podcast allows me
                to listen to every minute of every show. Even if I get a few weeks
                behind, I always manage to catch up.</p>

            <p>This is <a href="http://www.armstrongandgettybingo.com">armstrongandgettybingo.com</a>.
                It is a site I created to make it easier to navigate their podcast
                feeds. It's also become the home of the <a href="/clips">clip gallery</a>
                and I have some other fun stuff planned for the future.</p>

            <p>TODO:</p>
            <ul>
                <li>Search</li>
                <li>User comments</li>
                <li>Gallery Cleanup</li>
                <li>Mobile-friendly</li>
            </ul>

            <h3>Why "Bingo"?</h3>
            <p>I bought the domain way back when and it just hosted a simple bingo board
                full of squares relating to the show. A&G mentioned it on the show and it got a
                lot of love, but I've repurposed it for bigger/better A&G-related things.
                And the calendar looks kinda like a bingo board. So there's that.</p>
            <h3>Shower Thoughts (Texts)</h3>
            <p>Love Shower Thoughts? Check out my latest project <a href="http://www.showertexts.com">Shower Texts</a>
                which will automatically send you a Shower Thought each morning.</p>

            <h3>Need Some Work Done?</h3>
            <p>I offer consulting services if you'd like a web application build for your business.
                <a href="mailto:resume@bugben.com">Contact me</a> for rates.</p>

            <h3>Donate</h3>
            <p>If you like this site enough to want to help with hosting costs, donations are appreciated
                (but not at all required)</p>

            <p>
                <h4>PayPal</h4> <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3C5A6CQC8S8ZN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <h4>BitCoin</h4>
                <div>
                    <a href="bitcoin:1KzTSfqjF2iKCduwz59nv2uqh1W2JsTxZH"> <code>17FJJYY2B11Bx7xx5HepjJ3xAdaB14UMiw</code> </a>
                </div>
            </p>
            <h3>Comments? Suggestions?</h3>

            <p>Join the <a
                    href="https://www.reddit.com/r/armstrongandgetty/comments/3z7qvs/armstrong_and_getty_podcast_calendar_updated/">discussion
                on Reddit</a>, or email me (contact info on my <a href="http://www.bugben.com">my home page</a>). </p>

            <h3>A Note to A&G</h3>

            <p>I know you want traffic to your home page, but your feed sucks.
                If you want to host this site, <b>I'd be happy to hand it over to you.
                </b> Just say the word.
            </p>
            <h4>KFTC<i>!</i></h4>
            - Ben in San Jose<br>
            You're <i>HUGE</i> in the 'ho!
        </div>
    </div>
{% endblock %}
