{% load hours %}
<style>
    @media (min-width: 0px) {
        .five-cols .col-xs-1,
        .five-cols .col-md-1,
        .five-cols .col-sm-1,
        .five-cols .col-lg-1 {
            width: 100%;
        }
    }

    @media (min-width: 0px) {
        .week-header {
            display: none;
        }
    }

    @media (min-width: 768px) {
        .week-header {
            display: block;
        }
    }

    @media (min-width: 768px) {
        .five-cols .col-xs-1,
        .five-cols .col-md-1,
        .five-cols .col-sm-1,
        .five-cols .col-lg-1 {
            width: 20%;
        }
    }

    @media (min-width: 992px) {
        .five-cols .col-xs-1,
        .five-cols .col-md-1,
        .five-cols .col-sm-1,
        .five-cols .col-lg-1 {
            width: 20%;
        }
    }

    @media (min-width: 1200px) {
        .five-cols .col-xs-1,
        .five-cols .col-md-1,
        .five-cols .col-sm-1,
        .five-cols .col-lg-1 {
            width: 20%;
        }
    }

    @media (min-width: 0px) {
        .seven-cols .col-xs-1,
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        .seven-cols .col-xs-1,
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 14.285714285714285714285714285714%;
        }
    }

    @media (min-width: 992px) {
        .seven-cols .col-xs-1,
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 14.285714285714285714285714285714%;
        }
    }

    @media (min-width: 1200px) {
        .seven-cols .col-xs-1,
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 14.285714285714285714285714285714%;
        }
    }

    .date {
        border: solid 1px #000;
    }

    .date-num {
        float: right;
    }

    .tiny-label {
        font-size: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<div class="container">
    <div class="row five-cols calendar">
        <div class="col-xs-1 week-header">
            Monday
        </div>
        <div class="col-xs-1 week-header">
            Tuesday
        </div>
        <div class="col-xs-1 week-header">
            Wednesday
        </div>
        <div class="col-xs-1 week-header">
            Thursday
        </div>
        <div class="col-xs-1 week-header">
            Friday
        </div>
        {% for d in iter %}
            {% if d.weekday != 5 and d.weekday != 6 %}
                <div class="col-xs-1 date weekday-{{ d.weekday }}" onclick="document.location.href='/';">
                    <div class="date-num">{{ d.day }}</div>
                    {% hours_for d as hours %}
                    {% for hour in hours %}
                        <div class="tiny-label">{{ hour }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
