{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Episode Calendar {% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "bower_components/underscore/underscore.js" %}"></script>
{% endblock %}
{% block content %}
<style>
#calendar td {
  width: 20%;
  border: solid 1px #000;
  min-height: 200px;
  height: 150px;
  min-width: 215px;
}
.caldate {
  float: right;
  font-size: 80%;
  font-weight: bold;

}
.tiny-label {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
  overflow: hidden;
  float: left;
}
.logo-image {
  width: 110px;
  margin-right: 26px;
}
</style>
<div class="hero-row hero-condensed">
  <div class="container">
    <div class="row-fluid">
      <img src="{{ STATIC_URL }}images/anglogo.png" class="pull-left logo-image">
      <h1>Episode Calendar</h1>
      <p class="lead">
        {{ month_date|date:"F, Y" }}
      </p>
    </div>
  </div>
</div>
<div class="well">
  <p><b>Welcome to the new Armstrong &amp Getty Bingo Episode Guide version 2.0!</b></p>
  <p>I've rewritten the site from the ground up, and tried to re-implement all the old features.
  If I've missed anything, please <a href="mailto:bfriedland174@yahoo.com">let me know</a>!</p>
  <p>Be sure to check out the <a href="/clips">Clip Gallery</a> for a collection of all your favorite
  show clips!</p>
  <p><b>KFTC<i>!</i></b></p>
  <p>-Ben in San Jose<br />
  <i>You're HUGE in the 'ho!</i></p>
</div>
<div class="hero-row hero-condensed">
  <div class="row calendar-header">
    <div class="span3">
      <a href="/calendar/{{ prev_month_date.year }}/{{ prev_month_date.month }}" class="btn btn-inverse month-pager" id="prevtab">
        <i class="icon-arrow-left icon-white"></i> {{ prev_month_date|date:"F, Y" }}
      </a>
    </div>
    <div class="span6">
      <h1 style="float: none; text-align: center;">{{ month_date|date:"F, Y" }}</h1>
    </div>
    <div class="span3 next-button">
      <a href="/calendar/{{ next_month_date.year }}/{{ next_month_date.month }}" class="btn btn-inverse month-pager" id="nexttab">
        {{ next_month_date|date:"F, Y" }} <i class="icon-arrow-right icon-white"></i>
      </a>
    </div>
  </div>
</div>
  <table class="table table-bordered table-condensed calendar" id="calendar">
    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>           
    </thead>
    <tbody>
      <tr>
      {% for caldate in dates %}
        {% if forloop.counter0|divisibleby:7 %}
          </tr>
          <tr>
        {% endif %}
        {% if caldate.0.weekday < 5 %}
          <td date="{{ caldate.0|date:"m/d/Y" }}" 
            {% if caldate.0 == today %} class="today" {% endif %} 
            {% if caldate.0.month != month_date.month %} class="other-month" {% endif %} 
            onclick="document.location.href='/episode/{{ caldate.0|date:"Y/m/d" }}'">
            <div class="caldate">{{ caldate.0.day }}</div>
            {% if caldate.1 %}
            <div class="assignment-entry clearfix"> 
              {% for hour in caldate.1.hour_set.all %}
                <div class="tiny-label" >
                  <!-- <i class="icon-play" onclick="downloadEpisode('{{ hour.download_link }}');"></i> -->
                  <b>H{{ hour.hour_num }}</b> {{ hour.summary }}
                </div>
              {% endfor %}
            </div>
            {% endif %}
          </td>
        {% endif %}
      {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
