{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Clip Guide{% endblock %}
{% block nav-clips %}active{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Clip Gallery</h1>
  <p>This is a publicly editable clip gallery. If anything is missing, or you have anything to add, please feel free to <a href="https://docs.google.com/spreadsheets/d/1Gq8ORD1x6DuzkxzAgEblrMUOLsZ3I4OvdWtkl-Vypj8/edit#gid=0">edit the source spreadsheet</a>. 
    This gallery will automatically pull the updated data every ten minutes.
  </p>
</div>
<div class="container">
  <div class="row">
    {% for clip in clips %}
    <div class="col-sm-6 clip-box clearfix">
      <a href="/clips/{{ clip.key }}">
      {% if clip.thumbnail_url %}
        <img src="{{ clip.thumbnail_url }}" class="img-thumbnail img-responsive pull-left clip-thumbnail">
      {% else %}
        <img src="{% static 'images/microphone-icon.png' %}" class="img-thumbnail img-responsive pull-left clip-thumbnail">
      {% endif %}
      </a>
      <div>
        <h4><a href="/clips/{{ clip.key }}">{{ clip.name }}</a></h4>
        {% if clip.description %}
          {{ clip.description }}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
