{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Episode Calendar {% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
    <div class="row calendar-header">
      <div class="col-lg-3">
        <a href="/episode/{{ prev_date|date:"Y/m/d"}}" class="btn btn-inverse month-pager" id="prevtab">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
      </div>
      <div class="col-lg-6" align="center">
        <h2><span class="weekday">{{ this_date|date:"l" }}</span>, {{ this_date|date:"F d, Y" }}</h2>
      </div>
      <div class="col-lg-3">
        <a href="/episode/{{ next_date|date:"Y/m/d"}}" class="btn btn-inverse month-pager" id="nexttab">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
      </div>
    </div>
    {% if not episode %}
      <div class="well">
        <h4>No show posted for this date.</h4>
      </div>
    {% else %}
      {% for hour in episode.hour_set.all %}
        <div class="clearfix hour-line">
          <span class="pull-left hour-box">
            H{{ hour.hour_num }}<br />
            <div class="listen-button">
              <a href="{{ hour.download_link }}" class="btn btn-mini btn-inverse listen-button">Listen</a>
            </div>
          </span>
          <span class="pull-right speaker-icon">
            <a href="{{ hour.download_link }}"><img src="{{ STATIC_URL }}images/speaker.png"></a>
          </span>
          <div> 
            <blockquote><p>{{ hour.description }}</p></blockquote>
          </div>
        </div>
      {% endfor %} 
    {% endif %}
{% endblock %}
